
<p>User List</p>

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Date of registration</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let us of list">
            <td>{{us.id}}</td>
            <td>{{us.username}}</td>
            <td>{{us.name}}</td>
            <td>{{us.lastname}}</td>
            <td>{{us.email}}</td>
            <td>{{us.dateOfReg}}</td>
            <td>
              <i class = "far fa-edit fa-lg" (click) = "openEdit(content, us)"></i>
            </td>
            <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="openDelete(contentDelete, us)"></i>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-outline-primary mr-2" (click)="pokusaj()" >BTN</button>

<!--EditPop-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit user</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<form [formGroup]="editForm" novalidate>
  <div class="form-group">
    <label for="username">Username</label>
    <div class="input-group">
      <input id="username" formControlName="username" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <div class="input-group">
      <input id = "name" formControlName="name" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <div class="input-group">
      <input id = "lastname" formControlName="lastname" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group">
      <input id = "email" formControlName="email" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <div class="input-group">
      <input id = "password" formControlName="password" class="form-control">
    </div>
  </div>
  <div class="border text-center"> <button data-dismiss="modal" class="btn btn-info" (click) = "realEdit()">Save Changes</button> </div>
</form>
  </div>
</ng-template>

<!--deletePop-->

  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Profile deletion</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Are you sure you want to delete <span class="text-primary">"user.name"</span> profile?</strong></p>
      <p>All information associated to this user profile will be permanently deleted.
      <span class="text-danger">This operation can not be undone.</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="krc()">Delete</button>
    </div>
  </ng-template>

