
<div class="container">

<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Ime</th>
            <th>Prezime</th>
            <th>Email</th>
            <th>Datum registracije</th>
            <th>Uloga</th>
        </tr>
    </thead>
    <br>
    <tbody>
        <tr *ngFor = "let us of list">
            <td>{{us.id}}</td>
            <td>{{us.username}}</td>
            <td>{{us.name}}</td>
            <td>{{us.lastname}}</td>
            <td>{{us.email}}</td>
            <td>{{us.dateOfReg}}</td>
            <td>{{us.role}}</td>
            <td>
              <i class = "far fa-edit fa-lg" (click) = "openEdit(content, us)"></i>
            </td>
            <td>
                <i class="far fa-trash-alt fa-lg text-danger" (click)="openDelete(contentDelete, us)"></i>
            </td>
        </tr>
    </tbody>
</table>
</div>
<button class="btn btn-outline-primary mr-2" (click)="pokusaj()" >BTN</button>

<!--EditPop-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Uredi korisnika</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<form [formGroup]="editForm" novalidate>
  <div class="form-group">
    <label for="username">Username</label>
    <div class="input-group">
      <input id="username" formControlName="username" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="name">Ime</label>
    <div class="input-group">
      <input id = "name" formControlName="name" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="lastname">Prezime</label>
    <div class="input-group">
      <input id = "lastname" formControlName="lastname" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <div class="input-group">
      <input id = "email" formControlName="email" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="password">Lozinka</label>
    <div class="input-group">
      <input id = "password" formControlName="password" class="form-control">
    </div>
  </div>
  <div class="form-group">
    <label for="role">Uloga</label>
    <div class="input-group">
      <input id = "role" formControlName="role" class="form-control">
    </div>
  </div>
  <div class="border text-center"> <button data-dismiss="modal" class="btn btn-info" (click) = "realEdit()">Spremi promjene</button> </div>
</form>
  </div>
</ng-template>

<!--deletePop-->

  <ng-template #contentDelete let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-title">Brisanje korisnika</h4>
      <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Jeste li sigurni da želite ukloniti korisnika?</strong></p>
      <p>Sve informacije povezane s ovim profilom bit će trajno izbrisane!
      <span class="text-danger">Ova operacije se ne može poništiti!</span>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Odustani</button>
      <button type="button" class="btn btn-danger" (click)="krc()">Obriši</button>
    </div>
  </ng-template>

