<form>
    <div class = "form-group">
        <label>Username</label>
        <input class = "form-control form-conreol-lg" placeholder="Username"
        name = "Username" #Username = "ngModel" [(ngModel)] = "service.formData.Username">

        <label>Name</label>
        <input class = "form-control form-conreol-lg" placeholder="Name"
        name = "Name" #Name = "ngModel" [(ngModel)] = "service.formData.Name">

        <label>Lastname </label>
        <input class = "form-control form-conreol-lg" placeholder="Lastname"
        name = "Lastname" #Lastname = "ngModel" [(ngModel)] = "service.formData.Lastname">

        <label>Email</label>
        <input class = "form-control form-conreol-lg" placeholder="Email"
        name = "Email" #Email = "ngModel" [(ngModel)] = "service.formData.Email">

        <label>Password</label>
        <input class = "form-control form-conreol-lg" placeholder="Password"
        name = "Password"  [(ngModel)] = "service.formData.Password">

    </div>

</form>
